---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'Software engineer writing about tech and side projects.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <div class="about-copy">
      <p>Hi, I'm <strong>miikkis</strong>. Software engineer writing about tech and side projects.</p>
      <p>See my work on <a href="https://www.github.com/miikkis-gh" target="_blank" rel="noopener">GitHub</a> or visit <a href="https://miikkis.fi" target="_blank" rel="noopener">miikkis.fi</a>.</p>
    </div>
    <div class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a gear">
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
  }

  .about-copy {
    flex: 1;
    padding: 0 1em;
  }

  .about-image {
    margin: 0 1em;
    text-align: center;
  }

  .about-image img {
    width: 100%;
    max-width: 330px;
  }

  @media (max-width: 800px) {
    .container {
      flex-direction: column;
    }

    .about-copy {
      text-align: center;
      padding-bottom: 2em;
    }
  }
</style>
