<div>
  <p>
    Hi, I'm <strong>miikkis</strong>. Software engineer writing about tech and side projects.
    See my work on <a href="https://www.github.com/miikkis-gh" target="_blank">GitHub</a>
    or visit <a href="https://miikkis.fi" target="_blank">miikkis.fi</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  p {
    font-size: 1.125rem;
  }
</style>
